:root {
    --background-color: rgba(31, 31, 31, 0.925);
    --secondary-color: rgb(24, 24, 24);
    --text-color: white;
    --bar-color: turquoise;
}

/*Options bar and all objects*/
.options-container {
    background-color: var(--secondary-color);
    position: absolute;
    width: 100%;
    height: 100px;
}
.options {
    display: inline-block;
}
#option-button {
    display: inline-block;
    margin: 20px;
    color: var(--text-color);
    background-color: turquoise;
    border: none;
    padding: 5px;
    border-radius: 10%;
    margin-left: 150px;
    font-size: 25px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}
#reset-button {
    margin-top: 27px;
    padding-left: 1rem;
    position: relative;
    display: inline-block;
    border: none;
    color: var(--text-color);
    background: transparent;
    transition: .3s;
    -webkit-transition: .3s;
}
#algo-select {
    display: inline-block;
    position: relative;
    border: none;
    background: transparent;
    color: var(--text-color);
}

/*Slider*/

.slidecontainer {
    margin-top: 10px;
    position: absolute;
    background-color: red;
}
.slidecontainer h2 {
    color: var(--text-color);
    font-size: 20px;
    float: left;
    padding-left: 15px;
    position: relative;
}
.slidecontainer h3 {
    color: var(--text-color);
    font-size: 14px;
    float: right;
    position: relative;
    margin-top: 21px;
    padding-left: 10px;
}
.slider {
    margin-top: 20px;
    margin-left: 15px;
    position: relative;
    width: 15rem;
    height: 25px;
    float: left;
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    transition: opacity .2s;
    -webkit-transition: .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}
  
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    cursor: pointer; /* Cursor on hover */
}


/*Main body of the webpage*/
.body {
    background-color: var(--background-color);
}
.array-container {
   padding-top: 200px;
   width: 100%;
   height: 100%;
   background-color: var(--background-color);
   padding-bottom: 100px;
}

.array-bar {
    width: 3px;
    background-color: var(--bar-color);
    display: inline-block;
    margin: 0 1px;
    transition: 0.1s;
    -webkit-transition: 0.1s;
}

.options-container {
    position: absolute;
}


/*Option button animations and transitions*/

.options-container button:hover {
    transform: scale(1.1);
}
#reset-button:hover {
    color: var(--bar-color);
}