:root {
    --background-color: rgba(31, 31, 31, 0.925);
    --secondary-color: rgb(24, 24, 24);
    --text-color: white;
}

.options-container {
    background-color: var(--secondary-color);
    position: absolute;
    width: 100%;
}
.options-container button {
    display: inline-block;
    margin: 20px;
    color: var(--text-color);
    background-color: turquoise;
    border: none;
    padding: 5px;
    border-radius: 10%;
    font-size: 15px;
    transition: 0.5s;
}

.body {
    background-color: var(--background-color);
}
.array-container {
   padding-top: 200px;
   width: 100%;
   height: 100%;
   background-color: var(--background-color);
   padding-bottom: 100px;
}

.array-bar {
    width: 3px;
    background-color: turquoise;
    display: inline-block;
    margin: 0 1px;
    transition: 0.1s;
}

.options-container {
    position: absolute;
}


/*Option button animations*/

.options-container button:hover {
    transform: scale(1.1);
}